---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Impressum - Henri Neuhaus">
    <div class="prose prose-invert max-w-none">
        <h1>Impressum</h1>

        <h2>Anbieter</h2>
        <p>
            Videoproduktion für Unternehmen<br />
            Keltenstraße 7f, 67373 Dudenhofen
        </p>

        <h3>Vertreten durch:</h3>
        <p>Henri Neuhaus</p>

        <h2>Kontakt</h2>
        <p>
            E-Mail: henri.neuhaus.test @gmail.com<br />
            Telefon: +49 176 53749853
        </p>

        <h2>Umsatzsteuer-ID</h2>
        <p>DE456870493</p>

        <h2>Angaben zu audiovisuellen Mediendiensten</h2>
        <p>
            Sitzland: Deutschland<br />
            Regulierungs- und Aufsichtsbehörde: Medienanstalt Rheinland-Pfalz (LMK)
        </p>

        <h2>Urheberrechtshinweis</h2>
        <p>
            Die auf unserer Internetseite vorhandenen Texte, Bilder, Fotos, Videos oder Grafiken unterliegen in der Regel dem Schutz des Urheberrechts. Jede unberechtigte Verwendung (insbesondere die Vervielfältigung, Bearbeitung oder Verbreitung) dieser urheberrechtsgeschützten Inhalte ist daher untersagt. Wenn Sie beabsichtigen, diese Inhalte oder Teile davon zu verwenden, kontaktieren Sie uns bitte im Voraus unter den oben stehenden Angaben. Soweit wir nicht selbst Inhaber der benötigten urheberrechtlichen Nutzungsrechte sein sollten, bemühen wir uns, einen Kontakt zum Berechtigten zu vermitteln.
        </p>
    </div>
</Layout>
